<% if current_user.has_role?(:admin) %>
  <h1>Solicitudes de moderación</h1>
  <div class="jumbotron">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Categoría</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% Administrate.all.each do |r| %>
            <tr>
              <td class="col-xs-4"><%= r.user %></td>
              <td class="col-xs-4"><%= Category.find(r.category).name %></td>
              <td class="col-xs-4">
                <div class="col-md-4">
                  <%= form_for(:administrate, url: administrate_approve_path(),
                               class: "form-horizontal") do |f| %>
                      <%= f.hidden_field(:user, value: r.user, class: "form-control") %>
                      <%= f.hidden_field(:id, value: r.category, class: "form-control") %>
                    <div class="actions">
                      <%= f.submit("Aceptar", class: "btn btn-success") %>
                    </div>
                  <% end %>
                </div>
                <div class="col-md-4">
                  <%= form_for(:administrate, url: administrate_refuse_path(),
                               class: "form-horizontal") do |f| %>
                    <%= f.hidden_field(:user, value: r.user, class: "form-control") %>
                    <%= f.hidden_field(:id, value: r.category, class: "form-control") %>
                    <div class="actions">
                      <%= f.submit("Rechazar", class: "btn btn-danger") %>
                    </div>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <h1>Administrar usuarios</h1>
  <div class="jumbotron">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Correo</th>
            <th scope="col" class="text-center">Permisos</th>
            <th scope="col">Suspender</th>
          </tr>
        </thead>
        <tbody>
          <% User.all.each do |u| %>
            <tr>
              <td class="col-xs-3">
                <%= image_tag(u.avatar, alt: u.username, size: "30") %>
                &nbsp;&nbsp;
                <%= u.username %>
              </td>
              <td class="col-xs-2"><%= u.email %></td>
              <td class="col-xs-4">
                <% if u.has_role?(:admin) %>
                  <div class="text-success" align="center">admin<div>
                <% else %>
                  <%= form_for(:administrate, url: administrate_approve_path(),
                               class: "form-horizontal") do |f| %>
                      <%= f.hidden_field(:user, value: u.username, class: "form-control") %>
                      <div class="col-lg-1"></div>
                      <div class="col-lg-5">
                        <%
                          @categories = Category.all.select {|c| not u.has_role?(:moderator, c)}
                        %>
                        <%= f.collection_select(:id,
                                                @categories,
                                                :id,
                                                :name,
                                                {class: "custom-select"}) %>
                      </div>
                      <div class="col-lg-1">
                        <div class="actions">
                          <%= f.submit("Dar permiso", class: "btn btn-success") %>
                        </div>
                      </div>
                  <% end %>
                <% end %>
              </td>
              <td class="col-xs-3">
                <% if u.has_role?(:admin) %>
                  <div class="text-danger" align="center">No puedes eliminar administradores<div>
                <% else %>
                  <%= button_to("Eliminar cuenta",
                                administrate_delete_user_path(user_id: u.id),
                                            data: { confirm: "Are you sure?" },
                                            class: "btn btn-danger" )%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
<div class="alert alert-warning" role="alert">
  <p>Solo puedes acceder a esta página si eres administrador</p>
</div>
<% end %>
