<div class="container">
    <h2>Perfil de <%=user.username %></h2>
    <div class="jumbotron">
        <%= render(template: "users/users/_user.html.erb", locals: {user: user})%>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Publicaciones con mejor reputacion</h3>
            </div>
            <div class="panel-body">
                <% for post in  user.posts.sort_by(&:points).reverse![0..4] %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media" id="post-<%=post.id%>">
                                <div class="media-left">
                                    <%= image_tag(user.avatar, alt: user.username, size: "60", class: "img-thumbnail media-object", alt:"Cinque Terre") %>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <%= link_to( post.title, post_path(post.id) )%>
                                    </h4>
                                    <%= markdown(truncate(post.content,length: 256))%>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span  class="label label-success">
                                Suscriptores: <%= post.subcribers%>
                            </span>
                            &nbsp;
                            <span  class="label label-primary">
                                Puntos: <%= post.points%>
                            </span >
                            &nbsp;
                            <span  class="label label-infoc">
                                Relevancia: <%= post.relevance%>
                            </span >
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    Mejores comentarios y repuestas para la comunidad
                </h3>
            </div>
            <div class="panel-body">
                <% for commentary in  user.commentaries.sort_by(&:votes).reverse![0..4] %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media" id="commentary-<%=commentary.id%>">
                                <div class="media-left">
                                    <%= image_tag(user.avatar, alt: user.username, size: "60", class: "img-thumbnail media-object", alt:"Cinque Terre") %>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <%= link_to(commentary.get_parent_post().title, post_path(Commentary.find_parent_id(commentary)) )%>
                                    </h4>
                                    <%= markdown(commentary.text) %>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span  class="label label-success">
                                Likes: <%= commentary.get_likes().size %>
                            </span >
                            &nbsp;
                            <span  class="label label-danger">
                                Dislikes: <%= commentary.get_dislikes().size %>
                            </span >
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>