<div class="container">
  <!-- Espacio con alerta de desarrollo -->
  <div class="alert alert-danger" role="alert">
    La aplicación se encuentra aún en desarrollo
  </div>
  <%if user_signed_in?()%>
    <div class="alert alert-success" role="alert">
      ¿No encuentras el foro que buscas? <br><br>
      <%=
        link_to("Crear foro", new_post_path(), html_options = {class: "btn btn-primary active"})
      %>
    </div>
  <%end%>
  
  <!-- Todos los foros -->
  <h3>Todos los foros</h3>
  <h5>Últimos foros creados en todas las categorías</h5>
  <div class="jumbotron">
        <!-- Espacio para mostrar los fotos en la aplicación -->
      <div class="row">
        <!-- Renderear cada post -->
        <%= render(@posts) %>
      </div>
      <div class="row">
        <h4 class="text-center">
            <!-- Dividir por páginas (6 foros por página) -->
            <%= will_paginate @posts, :previous_label => "&larr; Anterior", :next_label => "Siguiente &rarr;" %>
        </h4>
      </div>
    </div>
  </div>

  <% for category in @categories do%>
    <% posts = Post.where(category_id: category.id).last(4) %>
    <h3><%= category.name %></h3>
    <h5>Últimas <%= posts.length %> publicaciones</h5>
    <div class="jumbotron">
        <div class="row">
          <!-- Renderear cada post de la categoría -->
          <%= render(posts) %>
        </div>
    </div>
  <% end %>
</div>