<% post = Post.find(favourite.post.id) %> 
<li>
    <%= link_to(post.title,post_path(post.id)) %>
    <% if favourite.isSubcribe %>
      <% icon = "glyphicon glyphicon-volume-off" %>
    <% else %>
      <% icon = "glyphicon glyphicon-bell" %>
    <% end %>
    <%= link_to("", subscribe_path(favourite.id),
                     html_options = {class: icon , method: :patch})%>
    <%= form_for(:favourite, :html => {:method => :delete} , class: "form-horizontal") do |f| %>
      <%= hidden_field_tag "post[post_id]", post.id %>
      <%= f.submit("Borrar", class: "btn btn-primary active") %>
    <% end %>
</li>
<!-- 
form_for @user, :url => url_for(:controller => 'mycontroller', :action => 'myaction') -->
