<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<div class="jumbotron" id="commentary-<%= commentary.id %>">
  <div class="row">
    <!-- Mostrar el contenido del comentario -->
    <%if !commentary.user_id.nil? %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <% if commentary.user %>
            <%= link_to(profile_path({id: User.find(commentary.user_id).id}), method: :patch) do %>
              <% if !User.find(commentary.user_id).avatar.nil? %>
                  <%= image_tag(User.find(commentary.user_id).avatar, alt: User.find(commentary.user_id).username, size: "50", class: "kiwy") %>
              <% end %>
            <% end %>
            <%=User.find(commentary.user_id).username %>
            <span class="badge">
              <%= User.find(commentary.user_id).reputation.to_i %>
            </span>
          <% else %>
            <%= link_to("http://k30.kn3.net/taringa/7/A/8/6/1/7/emiliorok1/27F.jpg") do %>
              <%= image_tag("http://k30.kn3.net/taringa/7/A/8/6/1/7/emiliorok1/27F.jpg", alt: "No hay cuenta", size: "50", class: "kiwy") %>
            <% end %>
            Cuenta borrada
          <% end %>
        </div>
        <div class="panel-body">
          <%= markdown(commentary.text) %>
        </div>
        <div class="panel-footer">
          <strong>Publicado hace:</strong> <%=time_ago_in_words(commentary.created_at)%>
        </div>
      </div>
    <% end %>
    <div>
      <%= link_to(like_commentary_path(commentary), method: :put, class: 'vote-link') do %>
        <% if user_signed_in? && current_user.liked?(commentary)%>
          <span class="badge badge-liked">
        <% else%>
          <span class="badge">
        <% end %>
            <%= commentary.get_likes.size%>
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </span>
      <% end %>
      <%= link_to dislike_commentary_path(commentary), method: :put,class: 'vote-link' do %>
        <% if user_signed_in? && current_user.disliked?(commentary)%>
          <span class="badge badge-disliked">
        <% else%>
          <span class="badge">
        <% end %>
          <span class="glyphicon glyphicon-thumbs-down icon-rotate icon-flipped"></span>
          <%= commentary.get_dislikes.size%>
        </span>
      <% end %>
      <% if user_signed_in? %>
        <% @post = Post.find(Commentary.find_parent_id(commentary)) %>
        <% @forum = Category.find(@post.category_id) %>
        <%
          @roles = current_user.has_role?(:admin) || current_user.has_role?(:moderator, @forum)
        %>
        <%if (current_user.id.to_s == commentary.user_id) or @roles%>
          <%=link_to("", commentary_path(commentary),
                      html_options = {class: "glyphicon glyphicon-trash", method: :delete,
                                      data: {confirm: "¿Deseas borrar este comentario?"}})%>
        <% end %>
      <% end %>
    </div>
    <div>
    <% if user_signed_in?%>
      <span onClick="toggle_<%= commentary.id %>();" class="btn btn-default">Responder</span>
      <div style='display: none;' id="reply-<%= commentary.id %>">
        &nbsp;
        <br>
        <a href="https://github.com/google/styleguide/blob/gh-pages/docguide/style.md" class="badge">
            Markdown style reference
        </a>
        <%= form_for :reply, url: commentaries_path(), class: "form-group" do |f| %>
          <%= f.text_area(:text, rows: 3, placeholder: "Escribe tu respuesta aqui...",id: commentary.id , class: "form-control", style: "resize: none;") %>
          <%= hidden_field_tag(:commentary_id, commentary.id) %>
          <%= f.submit('Enviar',class: "btn btn-default") %>
          &nbsp;
          <span href="#" id="uploader-<%= commentary.id %>" ></span>
        <% end %>
      </div>
    </div>
      <% for reply in commentary.replies %>
        <% if !reply.response.nil? %>

          <%= render(template: "commentaries/_commentary.html.erb", locals: {commentary: reply.response})%>
        <% end %>
      <% end%>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#uploader-<%= commentary.id %>').cloudinary_upload_widget(
    { cloud_name: 'hctj9u4ot', upload_preset: 'commentary',
      cropping: 'server', folder: 'commentaries', theme: 'minimal',
      button_class: "btn btn-default", max_image_width: 400, max_image_height: 400},
    function(error, result) {
      console.log(error,result);
      console.log($('#<%= commentary.id%>').value)
      $('#<%= commentary.id%>')[0].value += '![](' +  result["0"]['secure_url'] + ')'
     });
</script>

<script type="text/javascript">
  function toggle_<%= commentary.id %>(){
    obj = $('#reply-<%= commentary.id %>')[0]
    if (obj.style.display == "none"){
      obj.style.display = "inherit";
    } else {
      obj.style.display = "none";
    }
  }
</script>
