<div class="jumbotron" id=<%= post_path(commentary.id) %>>
  <div class="row">
    <!-- Mostrar el contenido del comentario -->
    <h3>
      <%if commentary.user_id%>
        <div class="panel panel-info">
          <div class="panel-heading"><%= image_tag(User.find(commentary.user_id).avatar, alt: User.find(commentary.user_id).username,size: "50")%> <%=User.find(commentary.user_id).username %></div>
          <div class="panel-body"><%= markdown(commentary.text) %></div>
          <div class="panel-footer"><span class="badge"><%= User.find(commentary.user_id).reputation.to_i %> </span> puntos</div>
        </div>
      <% else%>
        <%= markdown(commentary.text) %>
      <% end %>
    </h3>
    <h5>
        <% usr = ""%>
        <%if commentary.user_id %>
          <%usr = User.find(commentary.user_id).username %> 
        <% end %>
        Publicado por: <%= usr.capitalize%><br>
        Publicado hace: <%=time_ago_in_words(commentary.created_at)%>
    </h5>
    <div>
      
    </div>
    <div>
      <% if user_signed_in? %>
        <%= link_to like_commentary_path(commentary), method: :put, class: 'vote-link' do %>
          <% if current_user.liked?(commentary)%>
            <span class="badge badge-liked">
          <% else%>
            <span class="badge">
          <% end %>
              <%= commentary.get_likes.size%>
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </span>
        <% end %>
        <%= link_to dislike_commentary_path(commentary), method: :put,class: 'vote-link' do %>
          <% if current_user.disliked?(commentary)%>
            <span class="badge badge-disliked">
          <% else%>
            <span class="badge">
          <% end %>
            <span class="glyphicon glyphicon-thumbs-down icon-rotate icon-flipped"></span>
            <%= commentary.get_dislikes.size%>
          </span>
        <% end %>
      <% end %>
    </div>
    <% if user_signed_in?%>
      <div>
        <%= form_for :reply, url: commentaries_path(), class: "form-group" do |f| %>
          <%= f.label("Responder") %>
          <%= f.text_field(:text,placeholder: "reply")%>
          <%= hidden_field_tag(:commentary_id, commentary.id) %>
          <%= f.submit(class: "btn btn-default") %>
        <% end %>
      </div>
      <% for reply in commentary.replies %>
        <%= render(reply.response)%>
      <% end%>
    <% end %>
  </div>
</div>
