<div class="notifications row">
  <div class="heading clearfix">
    <%= 'Notificaciones nuevas' %>

    <span class="pull-xs-right">
      <%= link_to('Marcar todo como leído', notifications.clean_notifications_path, class: 'btn btn-sm btn-secondary', method: 'delete') %>
    </span>
  </div>
  <div class="list">
    <% if @notifications.blank? %>
      <div class="no-records"><%= 'No tienes notificaciones sin leer' %></div>
    <% else %>
      <% @notification_groups.each do |group, notifications| %>
        <div class="notification-group">
          <div class="group-title"><%= group %></div>
          <%= render notifications %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @notifications %>
</div>
