<div class="col-sm-6 col-md-6" id=<%= post_path(post.id) %> >
  <div class="thumbnail" style="height: 230px">
    <!-- En caso de querer mostrar una imagen (ToDo) -->
    <!-- <img src="..." alt="..."> -->
    <div class="caption">
      <!-- Titulo del foro -->
      <h3>
        <%= truncate(post.title, :length => 40) %>
      </h3>
      <!-- Descripción del foro -->
      <p><%= markdown(post.content) %></p>
      <p class=''>
        <%= link_to("Ver Más", post_path(post.id),
                    html_options = {class: "btn btn-primary active"})%>
        <%if user_signed_in?()%>
          <!-- Agregar favorito -->
          <% if Favourite.where(post: post, user: current_user).length() != 0 %>
            <%= link_to("", favourites_path({post_id: post.id}),method: :delete,
                      class: 'glyphicon glyphicon-star icon-link')%>
          <% else %>
            <%= link_to("", favourites_path({post_id: post.id}),method: :post,
                      class: 'glyphicon glyphicon-star-empty icon-link')%>
          <% end%>
          &nbsp;
          <% if current_user.has_role?(:moderator)%>
            <!-- Editar foro -->
            <%=link_to("", edit_post_path(post.id),
                      html_options = {class: "glyphicon glyphicon-pencil"})%>
          <% end%>
          &nbsp;
          <% if current_user.has_role?(:admin)%>
            <!-- Editar foro -->
            <%=link_to("", edit_post_path(post.id),
                      html_options = {class: "glyphicon glyphicon-pencil"})%>
            <!-- Borrar foro -->
            <%=link_to("", post_path(post.id),
                      html_options = {class: "glyphicon glyphicon-trash", method: :delete,
                                      data: {confirm: "¿Deseas borrarme?"}})%>
          <% end %>
        <%end%>
      </p>
    </div>
  </div>
</div>
