<div class="col-sm-6 col-md-6" id=<%= post_path(post.id) %> >  
  <div class="thumbnail" style="height: 230px">
    <!-- En caso de querer mostrar una imagen (ToDo) -->
    <!-- <img src="..." alt="..."> -->
    <div class="caption">
      <!-- Titulo del foro -->
      <h3>
        <%= truncate(post.title, :length => 40) %>
      </h3>
      <!-- Descripción del foro -->
      <p><%= markdown(post.content) %></p>
      <!-- ToDo: Proximamente agregar botones de favoritos y ver más -->
      <p>
        <%= link_to "Ver Más", post_path(post.id), html_options = {class: "btn btn-primary active"} %>
        <%if user_signed_in?()%>
          <%= form_for(:favourite, url: favourites_path(), class: "form-horizontal") do |f| %>
            <%= hidden_field_tag "post[post_id]", post.id %>
            <%= hidden_field_tag "post[user_id]", current_user.id %>

            <%= f.submit("A Favoritos", class: "btn btn-primary active") %>
          <% end %>
          &nbsp;
          <!-- Editar foro -->
          <% if current_user.has_role?(:moderator)%>
            <%=link_to("", edit_post_path(post.id),
                      html_options = {class: "glyphicon glyphicon-pencil"})%>
          <% end%>
          &nbsp;
          <!-- Borrar foro -->
          <% if current_user.has_role?(:admin)%>
            <%=link_to("", post_path(post.id),
                      html_options = {class: "glyphicon glyphicon-trash", method: :delete,
                                      data: {confirm: "¿Deseas borrarme?"}})%>
          <% end %>
          <!-- <a href="#"><span class="glyphicon glyphicon-trash"></span></a>-->
        <%end%>
      </p>
    </div>
  </div>
</div>
