
<div class="col-sm-6 col-md-6" id=<%= post_path(post.id) %> >  
  <div class="thumbnail" style="height: 300px">
    <!-- En caso de querer mostrar una imagen (ToDo) -->
    <div class="caption" style="height: 90%">
      <div class="panel-default" style="height: 90%">
      <!-- Titulo del foro -->
        <div class="panel panel-heading" style="height: 20%">
          <strong><%= markdown(truncate(post.title, length: 40)) %></strong>
        </div>
        <!-- Descripción del foro -->
        <div class="panel panel-body" style="height: 60%">
          <%= markdown(truncate(post.content,length: 250)) %>
        </div>
        <div class="panel panel-footer" style="height: 20%">
          <%= link_to "Ver Más", post_path(post.id), html_options = {class: "btn btn-primary active"} %>
          <%if user_signed_in?()%>
            <% if Favourite.where(post: post, user: current_user).length() != 0 %>
              <%= link_to("", favourites_path({post_id: post.id}),method: :delete,
                        class: 'glyphicon glyphicon-star icon-link')%>
            <% else %>
              <%= link_to("", favourites_path({post_id: post.id}),method: :post,
                        class: 'glyphicon glyphicon-star-empty icon-link')%>
            <% end%>
            <% @category = Category.find(post.category_id) %>
            <% if current_user.has_any_role?(:admin, {name: :moderator, resource: @category}) %>
              <!-- Editar foro -->
              <%=link_to("", edit_post_path(post.id),
                        html_options = {class: "glyphicon glyphicon-pencil"})%>
              <!-- Borrar foro -->
              <%=link_to("", post_path(post.id),
                        html_options = {class: "glyphicon glyphicon-trash", method: :delete,
                                        data: {confirm: "¿Deseas borrarme?"}})%>
            <% end %>
          <%end%>
          <div class="badge"><span class="glyphicon glyphicon-eye-open"></span> <%= post.subcribers%></div>
        </div>
      </div>
    </div>
  </div>
</div>
