<div class="jumbotron">
  <div class="row">
    <% added_text = ""%>
    <% if params.key?(:category_id) %>
      <% added_text = " en " + Category.find(params[:category_id].to_i).name %>
    <% end %>
    <h2>Crear nueva publicación<%= added_text %></h2>
    <%= form_for(:post, url: posts_path(), class: "form-horizontal") do |f| %>
      <div class="form-group">
        <% if params.key?(:category_id) %>
          <% @categories = @categories.select {|c| not c.id == params[:category_id].to_i} %>
          <% @first_category = Category.find(params[:category_id].to_i) %>
          <% @categories.insert(0, @first_category) %>
          <% style="display: none;" %>
        <% else %>
          <% style="" %>
        <% end %>
        <div style='<%= style %>'>
          <%= f.label(:foro) %><br />
          <%= f.collection_select(:category, @categories, :id, :name, {class: "custom-select"}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:titulo) %><br />
        <%= f.text_field(:title, class: "form-control") %>
      </div>
      <div class="form-group">
        <%= f.label(:contenido) %>
        &nbsp;
        <a href="https://github.com/google/styleguide/blob/gh-pages/docguide/style.md" class="badge">
            Markdown style reference
        </a>
        <br/>
        <%= f.text_area(:content, rows: 8, placeholder: "Write your content...",
                                  class: "form-control", style: "resize: none;") %>
      </div>

      <div class="actions">
        <%= f.submit("Publicar", class: "btn btn-primary active") %>
        &nbsp;
        <span href="#" id="uploader" ></span>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#uploader').cloudinary_upload_widget(
    { cloud_name: 'hctj9u4ot', upload_preset: 'commentary',
      cropping: 'server', folder: 'commentaries', theme: 'minimal',
      button_class: "btn btn-default", max_image_width: 400, max_image_height: 400},
    function(error, result) {
      $('#post_content')[0].value += '![](' +  result["0"]['secure_url'] + ') '
     });
</script>
