<h3><%= @post.title %></h3>

<div class="jumbotron">
  <div class="row">
    <!-- Mostrar el contenido del post -->
    <h3><%= @post.content %></h3>
    <h5>Creado el: <%= @post.created_at %></h5>
  </div>
</div>

<%= render(@comentarios) %>

<%if user_signed_in?()%>
  <div class="jumbotron">
    <div class="row">
      <h2>Comentar</h2>
      <%= form_for(:commentary, url: commentaries_path(), class: "form-horizontal") do |f| %>
        <!-- Enviar escondido el id del post  -->
        <%= hidden_field_tag "commentary[post_id]", "#{@post.id}" %>
        <div class="form-group">
          <%= f.label(:title, style: "display: none;") %><br />
          <%= f.text_area(:text,rows: 4, class: "form-control", placeholder: "Escribe aqui...") %>
        </div>

      <div class="actions">
          <%= f.submit("Crear", class: "btn btn-primary active") %>
        </div>
      <% end %>
    </div>
  </div>
<%end%>