<% if user_signed_in?() %>
  <div class="alert alert-success" role="alert">
    ¿Quieres hacer una publicación? <br><br>
    <%= link_to("Crear publicación", new_post_path(category_id: @category.id), html_options = {class: "btn btn-primary active"}) %>
  </div>
<% end %>

<% background = nil %>
<% if !@category.background.nil? %>
  <% background = @category.background.url %>
<% end %>

<div class="precontainer" style= "background-image: url(<%= background %>);">

  <div class="enchanced">
    <div style=" display: inline-block; width: 80%">
      <h1>
        <%= @category.name %>
      </h1>
    </div>
    <div style="display: inline-block;">
      <h4 style="padding-bottom: 35%">
        <span class="label label-default" ><%= @category.topic %></span>
      </h4>
    </div>
  </div>
  <div>
    <div class="panel panel-body">
      <%= markdown(@category.description) %>
    </div>
    <div class="container">
      <ul class="list-inline" style="right: 10%;">
        <li class="list-inline-item">
          <% if Subscription.where(category: @category, user: current_user).length > 0 %>
            <%= link_to(subscribe_path(id: @category.id), method: :delete, class: 'btn btn-default') do %>
              Suscrito <%= @category.subcribers %>
            <% end %>
          <% else %>
            <%= link_to(subscribe_path(id: @category.id),method: :post, class: 'btn btn-danger') do %>
              Suscribirse <%= @category.subcribers %>
            <% end %>
          <% end %>
        </li>
        &nbsp;
        <% if current_user.has_any_role?(:admin, {name: :moderator, resource: @category}) %>
          <li class="list-inline-item">
            <div class="actions">
              <spam id="background-uploader">
              </spam>
            </div>
          </li>
          &nbsp;
        <% end %>
        <% if not current_user.has_any_role?(:admin, {name: :moderator, resource: @category}) %>
          <li class="list-inline-item">
            <%= link_to("Ser moderador", communities_moderator_path(category_id: @category.id), html_options = {class: "btn btn-secundary active"}) %>
          </li>
          &nbsp;
        <% end %>
        <li class="list-inline-item">
          <div class="dropdown">
            <a class="dropdown-toggle icon-link btn btn-default" data-toggle="dropdown" href="#">
              Ordenar por...
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% available = ["relevancia","tiempo","puntos"]%>
              <% for option in available do%>
                <li>
                <%= link_to "#{communities_path()}/#{@category.id}#{root_path({order: option})[1,100]}" do%>
                  <spam class=''><%= option.capitalize() %></spam>
                <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="jumbotron">
    <div class="row">
      <%= render(@posts) %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#background-uploader').cloudinary_upload_widget(
    { cloud_name: 'hctj9u4ot', upload_preset: 'commentary',
      cropping: 'server', folder: 'backgrounds', theme: 'minimal',
      button_class: "btn btn-success", thumbnails: false,
      button_caption: "Cambiar fondo" },
    function(error, result) {
      result['0']['forum_id'] = parseInt('<%= @category.id %>');
      jQuery.post('<%= forums_background_path()%>', data= result['0'], success= function(data,textStatus){
        alert('Imagen de fondo de las publicaciones cambiada');
      });
     });
</script>
